* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    height:100%;
    width:100%;
    position:relative;
}

#hello
{
    position: absolute;
    width: 1500px;
    height: 273px;
    left: 25%;
    top: 5%;
    
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 70px;
    color: #FFFFFF;
    width:1500px;
}

#circle-design
{
    background: linear-gradient(180deg, #E0E40C 0%,
    #E1D45D 45.89%, #FFFFFF 90.49%);
    height:50%;
    width:29%;
    top:40%;
    left: 2%;
    position:absolute;
    border-radius:50%;
}

#design
{
    color:#525123;
    text-align:center;
    vertical-align:text-top;
    font-size:80px;
    font-family:Inter;
    line-height:auto;
    top:60%;
    left: 9.3%;
    position:absolute;
}

#circle-it
{
    background: linear-gradient(193.66deg, #154F84 9.87%,
    #4E8AC1 60.01%, #FFFFFF 91.06%);
    height:70%;
    width:39%;
    transform: rotate(-13.66deg);
    top:25%;
    left:32%;
    position:absolute;
    border-radius:50%;
}

#it
{
    color:#0c3c69;
    text-align:center;
    vertical-align:text-top;
    font-size:96px;
    font-family:Inter;
    line-height:auto;
    top:55%;
    left:49%;
    position:absolute;
    width:92px;
}

#circle-business
{
    background: linear-gradient(193.66deg, #760C78 0%,
    #B64AB8 45.89%, #FFFFFF 90.49%);
    transform: rotate(-13.66deg);
    height:45%;
    width:25%;
    top:50%;
    left:73%;
    position:absolute;
    border-radius:50%;
}

#business
{
    color:#7a107c;
    text-align:center;
    vertical-align:text-top;
    font-size:80px;
    font-family:Inter;
    line-height:auto;
    top: 67%;
    left: 80%;
    position:absolute;
    width:177px;
}

#logo
{
    height: 20.8%;
    width:13%;
    left: 4.3%;
    top:3%;
    position:absolute;
}

a:link, a:visited {
    text-decoration: none;
}
